extends layout

block content
    article.article
        h1.title Cette page n'existe pas
        p La page que vous souhaitez consulter n'est pas ou plus disponible.
        p
            a(href=url) Retour à la liste des articles
