* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

li {
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    color: #010101;
}

body {
    background: #F2F1EF;
}

a {
    color: #D91E18;
    text-decoration: none;
    -webkit-transition: all 1s;
       -moz-transition: all 1s;
         -o-transition: all 1s;
            transition: all 1s;

    &:hover {
        color: #22313F;
    }
}

time {
    color: #555;
}

.main {
    margin: 5% auto;
    padding: 0 20px 0 320px;
    width: 940px;
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    width: 300px;
    background: #22313F;
    text-align: center;
    color: #fff;

    h1 {
        font-weight: normal;
        color: #D91E18;
        margin-bottom: 20px;
        font-size: 2.4em;
    }
    p {
        font-size: 1.4em;
        margin-top: 1em;
    }
}

.me {
    background: url('/me.png');
    display: block;
    height: 185px;
    width: 185px;
    border-radius: 93px;
    margin: 10% auto;
    border: 5px solid #FFF;

    &:hover {
        border-color: #D91E18;
    }
}

/* List posts */
.list-posts {
    font-size: 1.8em;

    time, a {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    time {
        width: 20%;
        margin-right: 2%;
        text-align: right;
    }
    a {
        width: 78%;
        &:hover {
            padding-left: 10px;
        }
    }
}

.title {
    font-size: 2em;
    color: #D91E18;
    margin-bottom: 1em;
}

/* Tags */
.tags {
    margin-bottom: 1em;

    li {
        display: inline-block;

        a {
            display: block;
            font-size: 0.8em;
            padding: 0.4em;
            margin: 0.5em 0.4em 0.5em 0;
            background: rgba(34, 49, 63, 0.5);
            color: #fff;

            &:hover {
                background: rgba(34, 49, 63, 1);
            }
        }
    }
}

/* Article */
.article {
    font-size: 1.5em;
    line-height: 1.5;

    h1 {
        color: #D91E18;
        font-size: 1.8em;
    }
    h2, h3, h4, h5, h6 {
        margin: 0.5em 0;
    }
    p {
        text-align: justify;
        margin-bottom: 1em;
    }
    pre code {
        display: block;
        font-size: 1.2em;
        background: rgba(255, 255, 255, 0.5);
        padding: 20px;
        margin: 10px 0;
        overflow-x: auto;
    }
}

@import 'highlight';

@media (min-width: 1200px) {
    .main {
        width: 1100px;
    }
}

@media (max-width: 940px) {

    .header {
        position: relative;
        height: auto;
        width: 100%;
    }
    .main {
        padding: 0 20px;
        margin: 5% auto;
        width: 640px;
    }
}
@media (max-width: 640px) {

    .main {
        width: auto;
    }
    .list-posts {

        time, a {
            display:block;
            width: auto;
        }
        time {
            text-align: left;
        }
    }
}
