extends ../layout

block content
    article.article
        time(datetime=post.date.getFullYear() + '-' + (post.date.getMonth() + 1) + '-' + post.date.getDate())
            = post.date.getDate() + '.' + (post.date.getMonth() + 1) + '.' + post.date.getFullYear()
        h1= post.title
        ul.tags
            - each tag in post.tags
                li
                    a(href='/tag/' + tag)
                        = tag
        div!= post.content
