extends ../layout

block content
    article
        h1.title
            = title
        ul.list-posts
            - each post in posts
                li
                    time(datetime=post.date.getFullYear() + '-' + (post.date.getMonth() + 1) + '-' + post.date.getDate())
                        = post.date.getDate() + '.' + (post.date.getMonth() + 1) + '.' + post.date.getFullYear()
                    a(href=post.url)
                        = post.title
